<%= render 'layouts/header' %>
<div style = "padding: 20px">

<h1>Edit Account Details</h1>

<%= render 'formedit', customer: @customer %>

<%= link_to 'Cancel Editing', @customer %>
</div>
<%= render 'layouts/footer' %>
