<%= render 'layouts/header' %>
<div style = "padding: 20px">

	<h1 style="font-family:Open Sans, sans-serif;">New Customer</h1>


<%= render 'form', customer: @customer %>


	<%= link_to 'Back', root_path, {:style=>'font:bold 20px sans-serif;'}%>

</div>
<%= render 'layouts/footer' %>
