<%= render 'layouts/header' %>



<!DOCTYPE html>
<html>
<head>
	<title>Lugs Contact</title>
	<link rel="stylesheet" type="text/css" href="contacts.scss">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container-fluid">
	<nav aria-label="breadcrumb">
  	<ol class="breadcrumb">
    	<li class="breadcrumb-item"><a href="/">Home</a></li>
    	<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
  	</ol>
	</nav>
	<h2 id="assistHead">We Are Always Here To Assist You</h2>
	<div id="tilesContainer">
		<h3 id="contactHead">Contact Us With Any Questions or Comments 24/7</h3>
		<div class="row" id="tilesDiv">
			<div class="col-md-4">
				<div id="telDiv">
					<a href="tel:1-800-989-5387" title="Open Telephone">1-800-989-5387</a>
				</div>
			</div>
			<div class="col-md-4">
				<div id="infoDiv">
					<a href="#contactForm" title="Open Mail">info@lugnuts.com</a>
				</div>
			</div>
			<div class="col-md-4">
				<div id="socMedDiv">
					<a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin fa-3x"></a>
					<a href="https://www.instagram.com" target="_blank" class="fa fa-instagram fa-3x"></a>
					<a href="https://www.twitter.com" target="_blank" class="fa fa-twitter fa-3x"></a>
					<a href="https://www.facebook.com" target="_blank" class="fa fa-facebook fa-3x"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="formRow">
		<div class="col-md-6">
			<div id="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3964.5501017301435!2d-82.98873675122273!3d39.9667514107416!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1552751353070" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
    <div class="col-md-6">
      <div id="contactForm">
        <h1>Contact Us</h1>

        <%= render 'form', contact: @contact %>
      </div>
    </div>

		</div>
	</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity=sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>

<%= render 'layouts/footer' %>
