<%= render 'layouts/header' %>



<!DOCTYPE html>
<html>
<head>
	<title>Lugs Contact</title>
	<link rel="stylesheet" type="text/css" href="styles2.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
	<nav aria-label="breadcrumb">
  	<ol class="breadcrumb">
    	<li class="breadcrumb-item"><a href="/">Home</a></li>
    	<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
  	</ol>
	</nav>
	<h2 id="assistHead">We Are Always Here To Assist You</h2>
	<div id="tilesContainer">
		<h3 id="contactHead">Contact Us With Any Questions or Comments 24/7</h3>
		<div class="row" id="tilesDiv">
			<div class="col-md-3">
				<div id="telDiv">
					<a href="tel:800-955-5555">800-955-5555</a>
				</div>
			</div>
			<div class="col-md-3">
				<div id="infoDiv">
					<a href="">info@<br>lugnuts.com</a>
				</div>
			</div>
			<div class="col-md-3">
				<div id="socMedDiv">
					<a href="#" class="fa fa-linkedin"></a>
					<a href="#" class="fa fa-instagram"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-facebook"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div id="liveChatDiv">
					<a href="#"><img src="liveChat.png"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="formRow">
		<div class="col-md-6">
			<div id="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3964.5501017301435!2d-82.98873675122273!3d39.9667514107416!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1552751353070" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-6">
			<div id="contactForm">
				<form>
					<div class="form-row">
						<div class="col">
							<label>Your Name (required)</label>
							<input type="text" name="name"><br>
						</div>
					</div>
					<div class="form-row">
						<div class="col">
							<label>Your Email (required)</label>
							<input type="text" name="email"><br>
						</div>
					</div>
					<div class="form-row">
						<div class="col">
							<label>Subject</label>
							<input type="text" name="subject"><br>
						</div>
					</div>
					<div class="form-row">
						<div class="col">
							<label>Your Message</label><br>
							<textarea></textarea>
						</div>
					</div>
					<button type="submit" class="btn">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity=sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>

<%= render 'layouts/footer' %>
