// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*homepage css

$primary-green: #4F7942;
$secondary-gray: #808080;
$accent-brown: #776C47;

*/
body h1,h2,h3,h4,h5 {
	font-family: Open Sans;
	text-transform: uppercase;
}

body p {
	font-family: minion-pro-regular, sans-serif;
	font-style: normal;
	font-weight: 400;
}

div.container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

#heroRow {
	margin-bottom: 25px;
	height: 500px;
}


.hero-image {
	background-image: url(public/maxresdefault.jpg);
	height: 500px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-title {
	height: 75px;
	width: 100%;
	margin: 10px;
	color: white;
	display: flex;
}

.hero-title span {
	font: 60px Open Sans, sans-serif;
	background-color: rgba(119,108,71,0.6);
	align-self: flex-end;
}

.hero-text {
	height: 400px;
	width: 100%;
	margin: 10px;
	color: white;
	display: flex;
}

.hero-text span {
	font: 60px Open Sans, sans-serif;
	background-color: rgba(119,108,71,0.6);
	align-self: flex-end;
}

#featuredProductsRow {
	margin: auto;
	width: 80%;
}

#featuredProductsCard img {
	height: 200px;
	max-width: 500px;
	margin: auto;
}

#featuredProduct1 img {
	height: 200px;
	max-width: 300px;
	margin: auto;
}

#featuredProduct2 img {
	height: 200px;
	max-width: 300px;
	margin: auto;
}

.card-body {
	background-color: #4F7942;
	text-align: center;
}

.card-body a {
	color: white;
	text-decoration: none;
}

.card-body a:hover {
	color: white;
	text-shadow: 2px 2px #808080;
	text-decoration: none;
}

.card-body a:visited {
	color: white;
	text-decoration: none;
}

#typeContainer {
	width: 100%;
	background-color: #e8e8e8;
	height: 500px;
	margin-top: 25px;
}

#selectDiv {
	margin: auto;
	color: #776C47;
}

#typeRow {
	margin: 10px;
}

#typeRow img {
	height: 250px;
	max-width: 350px;
	margin: auto;
}

#projectsRow {
	margin-top: 10px;
	margin-bottom: 10px;
}

#projectsRow h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
	color: #776C47;
}

#projectsRow img {
	height: 400px;
	max-width: 550px;
	margin: auto;
}

#storyContainer {
	background-color: #e8e8e8;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

#storyContainer h2 {
	text-align: center;
	margin: 10px;
	color:  #776C47;
}

#companyPhotoDiv {
	padding: 10px;
	margin: auto;
	max-width: 700px;
}

#companyText {
	width: 100%;
	padding: 10px;
	margin: auto;
	background-color: white;
	
}

#companyText p {
	font: 30px minion-pro-regular, sans-serif;
}
