


<footer style= "background-color: #e8e8e8;margin-top: 100px">
 <div style = "display: inline">
  <%= link_to root_path do %>
  <%= image_tag("UTVgraphicBrown.png", :alt => "Lugnuts UTV Supply", id: "logo") %>
  <% end %>
  </div>
<div style = "display: inline; margin-left: 25%">
  <a href=# style= "display:inline">CUSTOMER SERVICE: 1-800-989-5387</a>
  <a href=# style= "display:inline">LIVE CHAT</a>
  <a href="/contact" style= "display:inline">CONTACT US</a>
  </div>
  <div style = "display: inline; margin: 0 auto; margin-left: 25%">
<a href=#>FOLLOW US<i style= "color:black" class="fab fa-facebook"></i></a></div>
</footer>
